#
# This workflow deploys the Zscaler NSS infrastructure.
#
# 
#
#

name: Zscaler-NSS-Deploy

on:
  push:
    branches: [ none ]
  workflow_dispatch:

jobs:
  build-and-deploy-nss:
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Check out repository under $GITHUB_WORKSPACE, so job can access it
        uses: actions/checkout@v2

      - name: Set up Terraform CLI
        uses: hashicorp/setup-terraform@v2    

      - name: Terraform Init
        run: |
          cd './tf'
          dir
          terraform init

      - name: Terraform Plan 
        run: |
          cd './tf'
          dir 
          terraform plan

      - name: Log on to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          enable-AzPSSession: true
